.box-header {
  display: flex;
  align-items: center;
}

.box-header__a:active,
.box-header__a:hover,
.box-header__a:focus {
  color: $componentcolorblue;
  fill: $componentcolorblue;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box-header__ul {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
}
.box-header__li {
  margin-left: 93px;
  &:not(:first-child) {
    margin-left: 46px;
  }
}

.box-header__ul-contact {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 350px;
  padding-left: 0px;
}

.box-header__li-contact {
  &:first-child {
    margin-left: 0px;
  }
  &:last-child {
    margin-left: 30px;
  }
}

.box-header__a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.box-header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  text-decoration: none;
  color: $black;
}
.box-header__span {
  color: $componentcolorblue;
}

.box-header__a-contact {
  color: $componentcolorgrey;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  fill: $componentcolorgrey;

  &:focus,
  &:hover,
  &:active {
    color: $componentcolorblue;
    fill: $componentcolorblue;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.box-header__icon {
  margin-right: 10px;
}
.box-header__a--is-active {
  position: relative;
  color: $componentcolorblue;

  &::after {
    content: "";
    position: absolute;
    background: $componentcolorblue;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    margin-top: 28px;
    display: block;
  }
}
